
    p{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    
    }
    body {
        background-color: white;
    }
    .fonte_menu{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:chartreuse;
        font-weight: bold;
    }
    .fonte_listagem{
        font-size: 16px;
        font-family: Verdana;
        font-weight: bold;
        color: #5544ff

    }
    table
    {
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkblue;
        background-color: #667777
    }
/* criação dos estilos para pagina em bootstrap cores */
    .container {
        border: 3px solid brown;
        width: 500px;
}
.div1 {
    background-color: rebeccapurple;
}
.div2 {
    background-color: salmon;
}
.div3 {
    background-color: greenyellow;
}
.div4 {
    background-color: hotpink;
}